@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto;
  letter-spacing: 0.3px;
}
.App {
  display: flex;
  height: 100vh;
  font-family: Roboto;
}
.Sidebar {
  position: relative;
  width: 20vw;
  height: 100vh;
  padding: 0.5em;
  background-color: white;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ContentArea {
  width: 80vw;
  height: 100vh;
  background-color: #dae5f5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.on-startup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FAB {
  position: absolute;
  bottom: 2%;
  left: 16%;
  background-color: #16008b;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 35px;
  z-index: 1000;
}
.back-button {
  visibility: hidden;
}
/* Popup Modal */
.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #2f2f2f60;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 30vw;
}

.group-creation {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-name {
  border-radius: 25px;
  padding: 1.5%;
  border: 1px solid #cccccc;
  padding-left: 20px;
}

.heading {
  position: absolute;
  top: 3%;
  width: 80%;
}

.color-picker {
  display: flex;
  margin: 1em;
  align-items: center;
  justify-content: space-between;
}

.colors-block {
  display: flex;
  align-items: center;
  gap: 3px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.create-button {
  background-color: #001f8b;
  color: white;
  border: none;
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 75%;
}

.items {
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.group-item {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0px;
  cursor: pointer;
  padding: 10px;
}

.group-item.active {
  height: 100%;
  background-color: #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0px;
  cursor: pointer;
}

.group-dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-right: 10px;
}
.notes {
  height: 60vh;
  max-height: 60vh; /*Set max height for scrollable area*/
  overflow-y: scroll; /* Enable scrolling */
  padding: 10px;
  margin-bottom: 20px;
}

.note {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 1em;
  position: relative;
  text-align: left;
}

.input-notes {
  height: 20vh;
  /* padding: 10px; */
  /* margin: 1em; */
  width: 76vw;
  border: 12px solid #001f8b;
  position: relative;
  overflow: hidden;
  background-color: #001f8b;
}
.input-area {
  margin: 0;
  width: 96.5%;
  height: 70%;
  padding: 10px;
  border-radius: 25px;
  border-color: #001f8b;
  border-width: 10px;
  font-size: 15px;
}
.input-area:focus {
  outline-width: 0;
}
.input-button {
  position: absolute;
  top: 5em;
  right: 1.5em;
  width: 25px;
  height: 25px;
}
.notes-heading {
  display: flex;
  background-color: #001f8b;
  color: white;
  padding: 0.3em;
  align-items: center;
}

@media (max-width: 768px) {
  .Sidebar {
    width: 100vw;
    height: 100%;
    align-items: center;
    z-index: 1000;
  }
  .ContentArea {
    width: 100%;
  }
  .FAB {
    left: 85%;
  }
  .items {
    left: 5vw;
  }
  .create-button {
    margin-left: 70%;
  }
  .back-button {
    visibility: visible;
    width: 25px;
    height: 25px;
  }

  .modal-content {
    width: 80%;
    z-index: 1000;
  }
  .input-notes {
    width: 95%;
  }
  .input-area {
    width: 94%;
  }
  .input-button {
    top: 5.5em;
    right: 0.5em;
  }
}
